<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashe.whatfood">

    <!--   인터넷   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--   저장소   -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    위치   -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--    시간   -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/roulette"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/roulette"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsFood"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.ashe.whatfood.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name="com.ashe.whatfood.MainActivity" />
        <activity
            android:name=".MapActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ReviewActivity" />
        <activity
            android:name=".PasswordDialog"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".CheckDialog"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".PopUpImage"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity android:name=".DetailWebActivity"/>

        <receiver android:name=".notification.GeofenceBroadcastReceiver" />
        <receiver android:name=".notification.LunchReceiver" />
        <receiver android:name=".notification.DinnerReceiver" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="261c34ca88ab7789f7f0b20b89168bcd" />

    </application>

</manifest>